button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

p {
    font-family: "Courier New";
}

body {
    background-image: url("https://www.rightthisminute.com/sites/default/files/videos/images/three-beat-slide-america-is-the-place-to-be-official-music-video.jpg");
    background-attachment: fixed;
    color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.informationbox{
    max-width: 600px;
    border: 1px solid #FF00FF;
    margin: 1em auto;
    padding: 5px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.50)
}
